<% title "Sign up" %>
<% css "users" %>

<!-- page contents -->
<div class="container-fluid">
	<div class="row-fluid">

		<%= form_for @user, html: {class: 'form-signup well'} do |f| %>
			<h1>Sign up</h1>
	
			<% if @user.errors.any? %>
				<div class="error_explanation">
					<div class="alert alert-error">
						The form contains <%= pluralize(@user.errors.count, "error") %>.
					</div>
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control", type: "text"  %>

			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control", type: "text"%>

			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control", type: "password" %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: "form-control", type: "password" %>

			<%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
			<p style="margin-top: 20px; margin-bottom: 0px;">Already have an account? <%= link_to "Log in here", login_path %></p>
		<% end %>
	</div>
</div>