<% title "Todo App" %>
<% css "pages" %>

<% if signed_in? %>
<div class="row-fluid">
	<!-- sidebar for main view -->
	<div class="col-lg-2" id="sidebar">
		<button type="submit" class="btn btn-primary add-tasklist-btn" title="Create new tasklist" data-toggle="modal" data-target="#newTaskList">
			Add Task List
		</button>
		<div class ="upcoming-events">
			<div class="upcoming-events-header">
				<h3>Due this week</h3>
			</div>
			<table class="table table-hover" id="upcoming-events-table">
				<% upcoming_tasks = [] %>
				<% current_user.task_lists.each do |list| %>
					<% list.tasks.each do |task| %>
						<% if task.has_due_date && task.duedate < Date.today + 7 %>
							<% upcoming_tasks << task %>
						<% end %>
					<% end %>					
				<% end %>
				<% sorted = upcoming_tasks.sort {|a,b| a.duedate <=> b.duedate} %>
				<% [10, sorted.size].min.times do |i| %>
					<tr>
						<td><%= sorted[i].task %></td>
						<td><%= sorted[i].duedate.strftime('%b %e') %></td>
					</tr>
				<% end %>
			</table>		
		</div>


	</div>

	<div class="col-lg-10" id="main-view">

		<%=calendar current_user.getTasks do |t| %>
			<div><%= t.task %></div>
		<%end%>

	</div>
</div>

<!-- New Tasklist Modal -->
<div class="modal fade" id="newTaskList" tabindex="-1" role="dialog" aria-labelledby="newTasklistLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="newTasklistLabel">Add a new tasklist</h4>
			</div>

			<div class="modal-body">
				<%= form_for @new_tasklist, html: {class: "form-group"} do |f| %>
					<%= f.label :name, "Task List Name" %>
					<%= f.text_field :name, class: "form-control" %>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= f.submit "Create Task List", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- New Task Modal -->
<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="newTaskLabel">Add a new task</h4>
			</div>

			<div class="modal-body">
				<%= form_for Task.new do |f| %>

				<div class="form-group">
					<%= f.hidden_field :task_list_id %>
					<%= f.label :task %>
					<%= f.text_field :task, class: "form-control" %>
				</div>

				<div class="checkbox">
					<label>
						<%= f.check_box :has_due_date %>
						Use due date
					</label>
				</div>

				<div class="form-group">
					<%= f.label :duedate, "Due date" %>
					<%= f.date_select :duedate, class: "form-control" %>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= f.submit "Add Task", class: "btn btn-primary" %>
				<% end %>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Share Tasklist Modal -->
<div class="modal fade" id="shareList" tabindex="-1" role="dialog" aria-labelledby="shareListLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="shareListLabel">Share your list</h4>
			</div>

			<div class="modal-body">
				<%= form_tag share_path, method: "post" do %>
				<div class="form-group">
					<%= hidden_field_tag "tasklist_id" %>
					<%= label_tag "email", "Email address" %>
					<%= text_field_tag "email", nil, class: "form-control" %>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= submit_tag "Share list", class: "btn btn-primary" %>
				<% end %>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Remove Tasklist Modal -->
<div class="modal fade" id="removeList" tabindex="-1" role="dialog" aria-labelledby="shareListLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="removeListLabel">Remove list</h4>
			</div>

			<div class="modal-body">
				<%= form_tag remove_list_path, method: "delete" do %>
				<div class="form-group">
					<%= hidden_field_tag "remove_list_id" %>
					<%= hidden_field_tag "remove_method" %>
					<p> 
						Deleting your list will also remove all tasks it contains.<br>
						Would you like to delete this list for everyone or just yourself?
					</p>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= submit_tag "Everyone", class: "btn btn-primary", id: "remove-all" %>
				<%= submit_tag "Just myself", class: "btn btn-primary", id: "remove-me" %>
				<% end %>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

	// initialize the default modal state
	$(document).on("click", ".add-task-btn", function () {
		$('#task_task_list_id').val( $(this).data('id') );
		$( "#task_has_due_date" ).prop("checked", false);
		$( "#task_duedate_1i" ).prop( "disabled", true );
		$( "#task_duedate_2i" ).prop( "disabled", true );
		$( "#task_duedate_3i" ).prop( "disabled", true );
	});

	// toggle the modal when disabling the due date
	$(document).on("click", "#task_has_due_date", function () {
		$("#task_duedate_1i").prop('disabled', function (_, val) { return ! val; });
		$("#task_duedate_2i").prop('disabled', function (_, val) { return ! val; });
		$("#task_duedate_3i").prop('disabled', function (_, val) { return ! val; });
	});

	// set hidden field int the share controller to be list selected
	$(document).on("click", ".share-list-btn", function () {
		$('#tasklist_id').val( $(this).data('id') );
	});

	// set hidden field int the share controller to be list selected
	$(document).on("click", ".remove-list-btn", function () {
		$('#remove_list_id').val( $(this).data('id') );
	});

	$(document).on("click", "#remove-me", function () {
		$('#remove_method').val( "me" );
	});
	$(document).on("click", "#remove-all", function () {
		$('#remove_method').val( "all" );
	});

</script>

<% end %>