<% title "Todo App" %>
<% css "pages" %>
<!-- Checks if the user is signed in -->
<% if signed_in? %>
<div class="row-fluid">
	<!-- sidebar for main view -->
	<%= render 'layouts/sidebar' %>
	
	<div class="col-lg-10" id="main-view">
		
		<!-- This iterates through each task list -->
		<% current_user.task_lists.each do |list| %>

			<% # skipping empty or unintialized list %>
			<% if list.name.nil? || list.name.empty? then next end%>

			<!-- This displays each task list -->
			<div class="tasklist" id=<%="tasklist#{list.id}"%>>
				<div class="tasklist-header">
					<a type="submit" class="btn btn-sm btn-primary add-task-btn" title="Add new task" data-toggle="modal" data-target="#newTask" data-id=<%= "#{list.id}" %>>
						<span class="glyphicon glyphicon-plus"/>
					</a>
					<a type="submit" class="btn btn-sm btn-primary share-list-btn" title="Share tasklist" data-toggle="modal" data-target="#shareList" data-id=<%= "#{list.id}" %>>
						<span class="glyphicon glyphicon-share"/>
					</a>
					<a type="submit" class="btn btn-sm btn-primary remove-list-btn" title="Remove tasklist" data-toggle="modal" data-target="#removeList" data-id=<%= "#{list.id}" %>>
						<span class="glyphicon glyphicon-trash"/>
					</a>
					<% if list.name.length >= 15 %>
						<h3 title="<%= list.name %>"><%= list.name[0, 13] + "..." %></h3>
					<% else %>
						<h3><%= list.name %></h3>
					<% end %>
				</div>

				<!-- Displaying each task inside each task list-->
				<ul class="tasklist-items">
					<% list.tasks.each do |task| %>
						<% if task.finished %>
							<li class="task finished-task" id="task<%=task.id%>">
						<% else %>
							<li class="task" id="task<%=task.id%>">
						<% end %>
							<button type="submit" class="btn btn-sm btn-default check-task-btn" title="Mark complete">
								<% if task.finished %>
									<span class="glyphicon glyphicon-check"/>
								<% else %>
									<span class="glyphicon glyphicon-unchecked"/>
								<% end %>
							</button>
							<p><%= task.task %><p>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>

<%= render 'layouts/taskmodals' %>

<% end %>