<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title><%= yield(:title) %></title>

	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-theme.min", :media => "all" %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= stylesheet_link_tag yield :view_specific_css %>
	<%= stylesheet_link_tag "popup", :media => "all" %>

	<!-- Latest compiled and minified JavaScript -->
	<%= javascript_include_tag "jquery-1.10.2.min" %>
	<%= javascript_include_tag "bootstrap.min" %>
	<%= javascript_include_tag "application" %>

	<%= csrf_meta_tags %>
</head>

<body>
	<%= render "layouts/navbar" %>
	<%= yield %>
	<%= render "layouts/popups" %>
</body>

</html>