<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= yield(:title) %></title>

	<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
	<%= stylesheet_link_tag "bootstrap-theme.min", :media => "all" %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= stylesheet_link_tag yield :view_specific_css %>

	<!-- Latest compiled and minified JavaScript -->
	<%= javascript_include_tag "jquery-1.10.2.min" %>
	<%= javascript_include_tag "bootstrap.min" %>
	<%= javascript_include_tag "application" %>

	<%= csrf_meta_tags %>
</head>

<body>
	<%= render "layouts/navbar" %>
	<% if signed_in? %>
		<%= yield %>
	<% else %>
		<script type="text/javascript">
			if (window.location.href.indexOf("signup") == -1 &&
				window.location.href.indexOf("login") == -1) {
				window.location.href="/signup" 
			};
		</script>
		<%= yield %>
	<% end %>

</body>

</html>
